:root{
    --fundo:#FFE4E1;
    --cartao-frente:#fe62b0;
    --cartao-verso:	#86002d;
    --destaque:#ffdead;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--branco);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--preto)
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--branco);
    padding: 2rem;
}

header a{
    color: var(--preto);
}

#container{
    display: grid;
    gap: 2rem;
    margin: 2rem;
}

.conteudo-cartao{
    background-color: var(--cartao-frente);
    padding: 40px;
    border: 1px solid var(--destaque);
    transition: transform 0.2s;
    box-shadow: 2px 2px 2px var(--preto);
}

.conteudo-cartao:hover{
    transform: scale(1.02);
}