:root{
    --fundo:#FFE4E1;
    --cartao-frente:#fe62b0;
    --cartao-verso:	#DA70D6;
    --destaque:#ff078b;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
}

footer{
    background-color: var(--preto);
    position: fixed;
    bottom: 0;
}