:root{
    --fundo:#FFE4E1;
    --cartao-frente:#fe62b0;
    --cartao-verso:	#DA70D6;
    --destaque:#ff078b;
    --preto:#000000;
    --branco:#ffffff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--branco);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--preto)
}
